<div class="text-center">
  <div class="card ">
    <div class="card-header h2">
      退会お手続
    </div>
    <div class="card-body">
    　【退会前の確認事項】<br>
    　                     <br>
      退会手続きをされますと、全てのサービスがご利用いただけなくなります。<br>
    再度ご利用をいただく場合には、新規登録のお手続きが必要になります。<br>
    本当に退会してよろしいですか？
    </div>  
 </div>
 <div class="justify-content-between mt-4">
     <%= link_to "退会する", @user, method: :delete, class: "btn btn-secondary w-25",
     data: { confirm: "本当に退会しますか？" } %>
     
   <%= link_to "キャンセル", root_path(current_user), class: "btn btn-danger w-25" %>
 </div>
   
</div>