<div class="d-flex">

 <h1><%= image_tag 'photo01.png', class: 'hoge' %></h1>


    <div>
        <h1>練習記録や目標を管理して<br>
            モチベーションアップ!
        </h1>
        <h2>ランナー向け練習管理アプリ</h2>
        <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
</div>