/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= toppages
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */


/*ログイン前のトップページ*/
.main-visual {
  background-image: url(photo05.jpg) ;
  background-size: cover;
}

.main-text {
  background-color: #fff;
  opacity: 0.9;
  width: 50%;
  text-align: center;
  margin: 20% auto 3% auto;
  padding: 10px 10px 20px 10px;
}

.main-btn {
  font-size: 1.25rem;
  background: #c00;
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
  border-radius: 100vh;
  padding: 8px 16px;
}

.main-btn:hover {
  background: #c00;
  opacity: 1;
  color: #fff;
  text-decoration: none;
}

#main h2 {
  text-align: center;
  border-bottom: 2px solid #ddd;
  margin: 3% auto 1% auto;
}

#main h3 {
  margin: 2% auto 4% auto;
}



/*編集ページの幅*/
@media (min-width: 500px) {
  /* ウインドウ幅500px以上の時に適用されるスタイル */
  .edit {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 750px) {
  /* ウインドウ幅750px以上の時に適用されるスタイル */
  .edit {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
}



@media (min-width: 992px) {
  /* ウインドウ幅992px以上の時に適用されるスタイル */
   .input-plan {
    width: 35%;
  }
  .menu-plan {
    width: 65%;
  }
  
  .input-record {
    width: 35%;
  }
  .menu-record {
    width: 65%;
  }
  
  .record-th {
    width: 56px;
  }
  
  .record-th-day {
    width: 72px;
  }
  .week-day {
    font-size: 14px;
  }
  
  .record-td {
    font-size: 12px;
    /*width: 25px;*/
    padding: 5px;
  }
  
  
  .record-td-text {
    font-size: 15px;
  }
  
  .plan-td {
    font-size: 12px;
    padding: 5px;
  }
  
  .plan-td-text {
    font-size: 15px;
  } 
  
  
  
  .show-td1 {
    width: 70px;
  }
}



@media (max-width: 991px) {
  .record-tr {
    font-size: 14px;
  }
  
  .record-th {
    width: 35px;
  }
  
  .record-td {
    font-size: 12px;
    width: 25px;
    padding: 0px;
    justify-content: center;
  }
  
  .plan-td {
    font-size: 12px;
    padding: 5px;
  }
  
  .record-th-day {
    width: 72px;
  }
  
  .week-day {
    font-size: 14px;

  }
  
  .record-td-text {
    font-size: 14px;
  }
  
   .plan-td-text {
    font-size: 14px;
  } 
  
  
  .show-td1 {
    width: 70px;
  }
  .show-td2 {
    font-size: 14px;
  }
  
}



@media (max-width: 767px) {
  .record-th-day {
    width: 64px;
  }
  .week-day {
    font-size: 12px;
  }
  .record-td-text {
    font-size: 13px;
  }
  
  .plan-td-text {
    font-size: 13px;
  } 
  
  .link-in-calendar {
   text-decoration: none;
   font-size: 12px;
   color: #000;
 }
}

@media (max-width: 575px) {
  .plan-th {
    font-size: 14px;
  }
}