/*ログイン前のトップページ*/
.main-visual {
  background-image: url(photo05.jpg) ;
  background-size: cover;
}

.main-text {
  background-color: #fff;
  opacity: 0.9;
  width: 50%;
  text-align: center;
  margin: 20% auto 3% auto;
  padding: 10px 10px 20px 10px;
}

.main-btn {
  font-size: 1.25rem;
  background: #c00;
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
  border-radius: 100vh;
  padding: 8px 16px;
}

.main-btn:hover {
  background: #c00;
  opacity: 1;
  color: #fff;
  text-decoration: none;
}

#main h2 {
  text-align: center;
  border: 2px solid #ddd;
  margin: 3% auto 3% auto;
}

#main h3 {
  margin: 2% auto 4% auto;
}
